.header {
  $main-font: Manrope;
  .menu_icon{
    display: none;
  }
  hr{
    background-color: #E4E6E8;
    border: none;
   height: 2px;
   
    
  }
  .first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: $main-font;
    @media (max-width: 1540px) {
      display: none;
    }
    .header-div1 {
      display: flex;
      gap: 20px;
      p{
        font-family: $main-font !important;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .header-div2 {
      display: flex;
      gap: 30px;
      align-items: center;
      i {
        color: black;
      }
      p {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      span {
        cursor: pointer;
        color: #f09814;
        display: flex;
        align-items: center;
      }
    }
    .header-div3 {
      display: flex;
      gap: 10px;
    }
  }
  nav {

    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font;
    gap: 20px;
    height: 62px;
    .menu_icon {
      display: none;
    }
    @media (min-width: 1460px) {
      align-items: center;
    }

    ul {
      display: flex;
      list-style-type: none;
      font-size: 18px;
      gap: 20px;
      @media (max-width: 1460px) {
        display: none;
      }
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 2px;
        &:hover {
          color: rgba(0, 0, 0, 0.76);
        }
      }
    }
    .local-btn {
      display: flex;
      align-items: center;
      gap: 20px;
      a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        width: 189px;
        height: 46px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: 0.5s;
        font-weight: 600;
        &:hover {
          transform: scale(1.1);
          background-color: rgb(50, 255, 204);
          color: black;
        }
      }
    }
  }
  @media (max-width:1460px) {
    display: flex;
    align-items: center;
    nav{
        .local-btn{
            img{
                display: none;
            }
        }
    }
    .menu_icon{
        display: block !important;
        margin-right: 20px;
        font-size: 40px;
        padding-top: 7px;
      }
}
@media (max-width:768px) {
    nav{
        .local-btn{
         a{
            display: none;
         }   
        }
        div{
            img{
                padding-left: 20px;
            }
        }
    }
}

}
